/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #0d86ff;
    padding: 10px;
    text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header ul li {
    display: inline;
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

/* Main content styles */
h2 {
    text-align: center;
    margin: 40px 0;
    color: #333;
}

nav {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

nav h3 img {
    max-width: 100%;
}

nav .hk1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav table {
    width: 100%;
    text-align: center;
}

nav table:nth-child(2) td#lec {
    border-bottom: none;
}

nav td#lec {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 5px;
    text-decoration: underline;
    text-align: center;
}

nav tr td {
    padding: 5px 0;
}

nav tr td a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav tr td a:hover {
    color: #0099ff;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    header ul {
        display: none;
    }

    header #logo img {
        max-width: 200px;
    }

    nav h3 img {
        max-width: 80%;
    }

    nav table {
        font-size: 14px;
    }
}

.bar {
    position: absolute;
    top: 300px;
    left: 0px;
    padding: 0;
    margin: 0;
    border: 2px solid black;
    text-align: center;
}

.menu {
    border-bottom: 2px solid black;
    background-color: #0d86ff;
    height: 50px;
    line-height: 30px;
}

.menu:hover {
    background-color: #0080ff;
}

hr#head{

    width : 100%;
    background-color : black;
    height: 4px;
  }

hr#content{
    width : 40%;
    background-color : #ccc;
    height: 2px
}